//breadcrumb setting
$breadcrumb-ancher-color: #fff;
$breadcrumb-ancher-dark-color    : #4444;

$breadcrumb-size: 14px;
$breadcrumb-content: "/";
$breadcrumb-svg-icon-align: text-top;
$breadcrumb-ancher-color: #ffff;

$transparent-color: transparent;
$white: #ffff;

$font-nunito: Nunito;
